In [8]:
import json
import pandas as pd
from pathlib import Path

In [9]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [10]:
path_ranking = '../data/steam_ranking.json'

with open(path_ranking) as f:
    data_ranking = json.load(f)

df_ranking = pd.json_normalize(data_ranking['response']['ranks'])
df_ranking.head()

   rank    appid  concurrent_in_game  peak_in_game
0     1      730             1514152       1561578
1     2      570              787511        845196
2     3   578080              307530        514373
3     4  1808500              244813        249510
4     5   252490              190747        196545

In [11]:
path_apps = '../data/steam_apps.json'

with open(path_apps) as f:
    data_apps = json.load(f)

df_apps = pd.json_normalize(data_apps['applist']['apps'])
df_apps.head()

   appid                       name  last_modified  price_change_number
0     10             Counter-Strike     1745368572             33078735
1     20      Team Fortress Classic     1745368565             33078735
2     30              Day of Defeat     1745368580             33078735
3     40         Deathmatch Classic     1745368570             33078735
4     50  Half-Life: Opposing Force     1745368539             33078735

In [12]:
df_final = df_ranking.merge(df_apps, on='appid', how='left')
df_final[['appid', 'name', 'concurrent_in_game']].head(10)

     appid                 name  concurrent_in_game
0      730     Counter-Strike 2             1514152
1      570               Dota 2              787511
2   578080  PUBG: BATTLEGROUNDS              307530
3  1808500          ARC Raiders              244813
4   252490                 Rust              190747
5  2676230                  NaN              150658
6  3419430            Bongo Cat              135085
7   105600             Terraria              130291
8   553850        HELLDIVERS™ 2              123597
9   271590                  NaN              119132

In [13]:
print("Tipo no Ranking:")
print(df_ranking['appid'].dtype)

print("Tipo nos Apps:")
print(df_apps['appid'].dtype)

Tipo no Ranking:
int64
Tipo nos Apps:
int64

In [14]:
len(df_apps)

155942